
body {
    display: flexbox;
    flex-direction: column;
    margin: 0px;
    }
    
    div {
    flex: 1;
    }
    
    .header {
    background-color: #1F2937;
    padding: 0px 300px;
    }
    
    .top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    flex-shrink: 0;
    }
    
    .info {
    padding-bottom: 100px;
    }
    
    .logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    }
    
    .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    }
    
    li {
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    }

    #opener {
        font-size: 48px;
        font-weight: bolder;
        color: #F9FAF8;
        }
    
    .info {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    p {
    font-size: 18px;
    color: #E5E7EB;
    }
    
    button {
    padding: 4px 16px;
    background-color: #3882f6;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: bold;
    }
    
    .picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

    img {
        height: 300px;
        width: 600px;
    }
    
   .cat-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 200px
   }

   .cat-info > h1 {
    font-size: 36px;
    font-weight: bolder;
   }

   .cats{
    flex: 1;
    display: flex;
    padding-top: 12px;
   }

   .cat > p {
    padding: 4px 48px
   }

   .footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 28px 0px;
    }